@font-face {
    font-family: "0xfee1dead";
    src: url("/font/0xfee1dead.eot"); /* IE9 */
    src: 
    url("/font/0xfee1dead.woff") format("woff"), /* chrome、firefox */
    url("/font/0xfee1dead.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */
    url("/font/0xfee1dead.svg") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}