@font-face {
    font-family: "h4cker";
    src: url("/font/h4cker.eot"); /* IE9 */
    src: 
    url("/font/h4cker.woff") format("woff"), /* chrome、firefox */
    url("/font/h4cker.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+ */
    url("/font/h4cker.svg") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}