.special-container {
    min-height: calc(100vh - 4rem);
}

#blog-footer {
    display: block;
    max-width: 800px;
    margin: 0 auto
}

@media screen and (max-width:768px),
print {
    #blog-footer {
        max-height: 0
    }
}

.present-icon {
    border-radius: 3px
}

.bg-gray {
    background: #fdfdfd
}
 
.blog-alpha {
    transition: opacity 150ms ease-in;
}

.detail-alpha-zero {
    opacity: 0;
}


.content-full-height {
    height: calc(100vh - 4rem - 4rem - 4rem);
    max-height: calc(100vh - 4rem - 4rem - 4rem);
    min-height: calc(100vh - 4rem - 4rem - 4rem);
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;

}

.content-full-height-textarea {
    width: 100%;
    height: 100%;
    overflow: auto;
}

.markdown-content {
    background: #2b303b;
}
